@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100;1,200&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;   
}

body{
background-color: black;
color: white;
}

header .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: fixed;
    background: transparent;
    background-color: black;

    display: grid;
    grid-template-columns: 5rem 2fr 4fr 2fr 5rem

}

.logo{
    grid-column: 2/3;
}

header nav {
    grid-column: 3/4;

}
header nav a {
    text-decoration: none;
    color: white;
    grid-column: 3/4;
    margin-right: 50px;
}

header nav a:hover{
    color: red;
}
#search{
    position: relative;
    grid-column: 4/5;
    display: grid;
    align-items: center;
    grid-template-columns: 10fr repeat(1, 2fr);

}
#userbar{
     
    display:flex;
    justify-content:space-around;
    text-align: right;
    
}
.fa-bell{
grid-column: 2/3;
}

#search input {

    height: 40px;
    width: 80%;
    color: white;
    background: transparent;
    border: 1px solid rgba(255, 255, 2555, 0.5);
    border-radius: 4px;
    padding: 0 10px 0 54px;


}

#search .fa-search{
    top: 10px;
    /*padding-left: 10px;*/
    position: absolute;
    padding-right: 10px;
    border-right: 1px solid;
    justify-content: center;
    left: 10px;


}

.filn-principal{
    position: absolute;
  top: 400px;
  left: 16px;
  
}
.button{
    position: relative;
}
.button a{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background-color: red;
    color: white;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.button a:nth-child(2){
    background-color: rgba(0, 0, 0, 0.5);
}
.button a:hover{
    color:gray;
}

/*===================================*/
 .main_div {
        /*background-color: hsl(206, 21%, 94%);*/
        display: flex;
        place-items: center;
      }

      .center_div {
        width: 100%;
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
      }

      img {
        padding: 10px;
        border-radius: 30px;
        transition: transform 0.3s ease-in;
      }

      img:hover {
        transform: scale(1.1);
      }

      .center_div::-webkit-scrollbar {
        overflow: hidden;
      }

   
.thumbSection {
   /* padding-top: 3%;*/
    color: var(--colorWhite);
}

.thumbTitle {
    font-size: 16px;
    line-height: 14px;
    font-weight: 500;
    margin: 0 4% 12px;
}

.thumbTiles.swiper-container {
    padding: 0 4%;
}

.thumbTile {
    width: 20%;
}

.thumbTile__image {
    width: 100%;
    border-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-prev,
.thumbTiles .swiper-button-next {
    height: 100%;
    width: 4%;
    width: calc(4% - 5px);
    top: 00px;
    bottom: 0;
    margin: 0;
    /*background-color: rgba(20, 20, 20, 0.5);*/
}

.thumbTiles .swiper-button-prev {
    left: 0;
    top:240px;
    border-top-right-radius: var(--tileBorderRadius);
    border-bottom-right-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-next {
    right: 0;
    top:240px;
    border-top-left-radius: var(--tileBorderRadius);
    border-bottom-left-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-prev::after,
.thumbTiles .swiper-button-next::after {
    color: #fff;
    font-size: 4vw;
    font-weight: bold;
    transition: transform 0.1s ease-out;
}


@media screen and (max-width: 700px){
    header .container{
        display: flex;
        width: 100hv
        /*height: 50px;*/
       justify-content: center;
        justify-content: space-between;
        color: white;
        position: fixed;
        /*background-color: black;*/

        flex-direction: column;
    }
    #userbar{
        display: none ;
    }
    #search input{
        position: relative;
        margin-left: 50px;
    }
    #search .fa-search{
        margin-left: 50px;
    }
    .filn-principal{
        display: block;
    }

    .thumbTiles .swiper-button-prev {
    left: 0;
    top:0px;
    border-top-right-radius: var(--tileBorderRadius);
    border-bottom-right-radius: var(--tileBorderRadius);
}
.thumbTiles .swiper-button-next {
    right: 0;
    top:0px;
    border-top-left-radius: var(--tileBorderRadius);
    border-bottom-left-radius: var(--tileBorderRadius);
}




}
@media screen and (max-width: 1500px){
 #userbar{
        display: none ;

    }}

@media screen and (min-width: 680px){
.filn-principal{
    display: block;
    top: 100px;
}}
@media screen and (min-width: 1000px){
.filn-principal{
    display: block;
    top: 170px;
}}

@media screen and (min-width: 1650px){
.filn-principal{
  position: absolute;
  top: 400px;}}
